
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Profil utilisateur ! </h1>
    <p class="lead">En savoir plus sur l'auteur</p>
  </div>
</div>
  <p> 
  Son prénom et nom : <%= @user.first_name %> <%= @user.last_name %><br/>
  Son mail : <%= @user.email %><br/>
  Son age : <%= @user.age %><br/>
  Sa ville : <%= @user.city.name %><br/>
  Ma vie, mon oeuvre: <%= @user.description %>
  </p>

