<h2>PAGE POTIN !</h2>

  <p> Voici le potin n° <%= @gossip.id%><br/>
  Le titre : <%= @gossip.title %><br/>
  Le contenu du potin : <%= @gossip.content %>
  Son auteur : <%= @gossip.user.last_name %><br/>
  Habitant de : <%= @gossip.user.city.name %><br/>
  Créé le : <%= @gossip.created_at.strftime('%d/%m/%Y') %><br/>

  </p>